.table-container {
    padding: 20px;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .responsive-table th, .responsive-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  .heading{
    margin: auto;
    text-align: center;
  }
  .responsive-table th {
    background-color: #f2f2f2;
  }
  